
# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mydb"
# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `pnpm dlx @better-auth/cli secret`
RESEND_API_KEY=
RESEND_FROM="Spark Invoice <no-reply@sparkafrica.co>"
EXCHANGERATE_API_KEY=
SEED_TOKEN_EMAIL= # Override email to send the seed token
ORGANIZATION_ID=
CRON_SECRET= # Generate cron secret: `openssl rand -hex 32`
DOMAIN=
